@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

@import "./pages.css";
@import "highlight.js/styles/atom-one-dark.css"; /* Just for demo purpose only for highlighting code */

@layer components {
  /* Popup container */
  .swal2-popup {
    @apply bg-white rounded-lg shadow-lg p-6;
  }

  /* Title text */
  .swal2-title {
    @apply text-lg font-semibold text-gray-800;
  }

  /* Text body */
  .swal2-html-container {
    @apply text-sm text-gray-600;
  }

  /* Confirm button */
  .swal2-confirm {
    @apply bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2 rounded transition;
  }

  /* Cancel button */
  .swal2-cancel {
    @apply bg-red-600 hover:bg-gray-500 text-white font-semibold px-4 py-2 rounded transition;
  }
}
